<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436445967056-1r1ki8h4m4aotaaikk4ta3bt3e2gbktf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436445967056-1r1ki8h4m4aotaaikk4ta3bt3e2gbktf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>436445967056-58acg2o4fjtqoee0m8idaafjnt5gpsdd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgDBD37nChwHubqZ7EpnGb2Vv0I5Jrwyo</string>
	<key>GCM_SENDER_ID</key>
	<string>436445967056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Todoist</string>
	<key>PROJECT_ID</key>
	<string>mkcv-20f9e</string>
	<key>STORAGE_BUCKET</key>
	<string>mkcv-20f9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:436445967056:ios:d9695868b76897d25ea4d5</string>
	<key>DATABASE_URL</key>
	<string>https://mkcv-20f9e.firebaseio.com</string>
</dict>
</plist>
